{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>Подбор конференции</title>
</head>
<body>
    <div class="main">
        <h1>Подбор конференции</h1>
    </div>
<!--Поля ввода-->
    <div class="input_fields">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <form method="get" name="form1" action="search/">
            {% csrf_token %}
        <!--Выбор страны проживания-->
            <label for="select_country">Выберите страну вашего проживания</label>
            <select class="search_txt" name="select_country" required>
                <option value="">Выберите страну</option>
                <option value="1">Азербайджан</option>
                <option value="2">Армения</option>
                <option value="3">Беларусь</option>
                <option value="4">Грузия</option>
                <option value="5">Казахстан</option>
                <option value="6">Литва</option>
                <option value="7">Молдова</option>
                <option value="8">Польша</option>
                <option value="9">Россия</option>
                <option value="10">Сербия</option>
                <option value="11">Узбекистан</option>
                <option value="12">Украина</option>
                </select>
            <br>
        <!--Выбор города проживания-->
            <label for="select_city">Выберите город вашего проживания</label>
            <select class="search_txt" name="select_city" required>
                <option value="">Выберите город</option>
                <option value="1">Агсу</option>
                <option value="2">Баку</option>
                <option value="3">Газах</option>
                <option value="4">Гянджа</option>
                <option value="5">Сумгаит</option>
                <option value="6">Ванадзор</option>
                <option value="7">Гюмри</option>
                <option value="8">Ереван</option>
                <option value="9">Степанакерт</option>
                <option value="10">Цахкадзор</option>
                <option value="11">Барановичи</option>
                <option value="12">Бобруйск</option>
                <option value="13">Браслав</option>
                <option value="14">Брест</option>
                <option value="15">Верхнедвинск</option>
                <option value="16">Витебск</option>
                <option value="17">Гомель</option>
                <option value="18">Горки</option>
                <option value="19">Гродно</option>
                <option value="20">Жлобин</option>
                <option value="21">Жодино</option>
                <option value="22">Минск</option>
                <option value="23">Мир</option>
                <option value="24">Могилев</option>
                <option value="25">Мозырь</option>
                <option value="26">Нарочь</option>
                <option value="27">Несвиж</option>
                <option value="28">Новополоцк</option>
                <option value="29">Пинск</option>
                <option value="30">Полоцк</option>
                <option value="31">Самохваловичи</option>
                <option value="32">Батуми</option>
                <option value="33">Кутаиси</option>
                <option value="34">Тбилиси</option>
                <option value="35">Шекветели</option>
                <option value="36">Актау</option>
                <option value="37">Актобе</option>
                <option value="38">Алматы</option>
                <option value="39">Аркалык</option>
                <option value="40">Гвардейский</option>
                <option value="41">Жезказган</option>
                <option value="42">Кайнар</option>
                <option value="43">Караганда</option>
                <option value="44">Кокшетау</option>
                <option value="45">Костанай</option>
                <option value="46">Нур-Султан</option>
                <option value="47">Павлодар</option>
                <option value="48">Петропавловск</option>
                <option value="49">Сарыагаш</option>
                <option value="50">Семей</option>
                <option value="51">Тараз</option>
                <option value="52">Темиртау</option>
                <option value="53">Уральск</option>
                <option value="54">Усть-Каменогорск</option>
                <option value="55">Шимкент</option>
                <option value="56">Вильнюс</option>
                <option value="57">Каунас</option>
                <option value="58">Шяуляй</option>
                <option value="59">Кишинёв</option>
                <option value="60">Комрат</option>
                <option value="61">Рыбница</option>
                <option value="62">Тирасполь</option>
                <option value="63">Szczecin</option>
                <option value="64">Cieszyn</option>
                <option value="65">Cieszyn</option>
                <option value="66">Белосток</option>
                <option value="67">Быдгощ</option>
                <option value="68">Быдгощч</option>
                <option value="69">Валбжих</option>
                <option value="70">Варшава</option>
                <option value="71">Вроцлав</option>
                <option value="72">Гданьск</option>
                <option value="73">Жешув</option>
                <option value="74">Закопане</option>
                <option value="75">Катовице</option>
                <option value="76">Краков</option>
                <option value="77">Краков</option>
                <option value="78">Лодзь</option>
                <option value="79">Любнин</option>
                <option value="80">Любнивецы</option>
                <option value="81">Ольштын</option>
                <option value="82">Ополе</option>
                <option value="83">Познань</option>
                <option value="84">Полянчик</option>
                <option value="85">Сопот</option>
                <option value="86">Сосновец</option>
                <option value="87">Торунь</option>
                <option value="88">Абакан</option>
                <option value="89">Азов</option>
                <option value="90">Александров</option>
                <option value="91">Алтайск</option>
                <option value="92">Алушта</option>
                <option value="93">Альметьевск</option>
                <option value="94">Анадырь</option>
                <option value="95">Анапа</option>
                <option value="96">Анжеро-Судженск</option>
                <option value="97">Апатиты</option>
                <option value="98">Аракуль</option>
                <option value="99">Арзамас</option>
                <option value="100">Арзамас</option>
                <option value="101">Аркаим</option>
                <option value="102">Челябинск</option>
                <option value="103">Армавир</option>
                <option value="104">Артем</option>
                <option value="105">Архангельск</option>
                <option value="106">Астрахань</option>
                <option value="107">Ачинск</option>
                <option value="108">Балаково</option>
                <option value="109">Балахна</option>
                <option value="110">Балашиха</option>
                <option value="111">Балашов</option>
                <option value="112">Барабинск</option>
                <option value="113">Барнаул</option>
                <option value="114">Барнаул</option>
                <option value="115">Белгород</option>
                <option value="116">Белово</option>
                <option value="117">Белозерск</option>
                <option value="118">Березники</option>
                <option value="119">Бийск</option>
                <option value="120">Биробиджан</option>
                <option value="121">Бирск</option>
                <option value="122">Благовещенск</option>
                <option value="123">Бобров</option>
                <option value="124">Болгар</option>
                <option value="125">Борисоглебск</option>
                <option value="126">Борок</option>
                <option value="127">Братск</option>
                <option value="128">Брыкин Бор</option>
                <option value="129">Брянск</option>
                <option value="130">Бугульма</option>
                <option value="131">Бузулук</option>
                <option value="132">Великие Луки</option>
                <option value="133">Великий Новгород</option>
                <option value="134">Великий Устюг</option>
                <option value="135">Вельск</option>
                <option value="136">Вилюйск</option>
                <option value="137">Владивосток</option>
                <option value="138">Владикавказ</option>
                <option value="139">Владимир</option>
                <option value="140">Волгоград</option>
                <option value="141">Волжский</option>
                <option value="142">Вологда</option>
                <option value="143">Вольск</option>
                <option value="144">Воркута</option>
                <option value="145">Воронеж</option>
                <option value="146">Воткинск</option>
                <option value="147">Выкса</option>
                <option value="148">Вятка</option>
                <option value="149">Вятские Поляны</option>
                <option value="150">Гаврилов Посад</option>
                <option value="151">Гатчина</option>
                <option value="152">Геленджик</option>
                <option value="153">Георгиевск</option>
                <option value="154">Глазов</option>
                <option value="155">Горловка</option>
                <option value="156">Горно-Алтайск</option>
                <option value="157">Горячий Ключ</option>
                <option value="158">Грозный</option>
                <option value="159">Дединово</option>
                <option value="160">Дербент</option>
                <option value="161">Дзержинск</option>
                <option value="162">Дивногорск</option>
                <option value="163">Дивноморское</option>
                <option value="164">Димитровград</option>
                <option value="165">Дмитров</option>
                <option value="166">Долгопрудный</option>
                <option value="167">Домбай</option>
                <option value="168">Дубна</option>
                <option value="169">Дубровицы</option>
                <option value="170">Екатеринбург</option>
                <option value="171">Елабуга</option>
                <option value="172">Елец</option>
                <option value="173">Ессентуки</option>
                <option value="174">Железноводск</option>
                <option value="175">Железногорск</option>
                <option value="176">Жигулёвск</option>
                <option value="177">Жуковский</option>
                <option value="178">Заводоуковск</option>
                <option value="179">Заречный</option>
                <option value="180">Звенигород</option>
                <option value="181">Зеленоград</option>
                <option value="182">Зеленоградск</option>
                <option value="183">Зерноград</option>
                <option value="184">Златоуст</option>
                <option value="185">Знаменск </option>
                <option value="186">Иваново</option>
                <option value="187">Ивантеевка</option>
                <option value="188">Ижевск</option>
                <option value="189">Инза</option>
                <option value="190">Иркутск</option>
                <option value="191">Ишим</option>
                <option value="192">Ишимбай</option>
                <option value="193">Йошкар-Ола</option>
                <option value="194">Казань</option>
                <option value="195">Калининград</option>
                <option value="196">Калуга</option>
                <option value="197">Каменск-Уральский</option>
                <option value="198">Камень-на-Оби</option>
                <option value="199">Алтайский край</option>
                <option value="200">Камышлов</option>
                <option value="201">Канск</option>
                <option value="202">Красноярский край</option>
                <option value="203">Карабиха</option>
                <option value="204">Карачаевск</option>
                <option value="205">Каргополь</option>
                <option value="206">Карталы</option>
                <option value="207">Кемерово</option>
                <option value="208">Керчь</option>
                <option value="209">Кизляр</option>
                <option value="210">Кириллов</option>
                <option value="211">Киров</option>
                <option value="212">Кировск</option>
                <option value="213">Кисловодск</option>
                <option value="214">Клин</option>
                <option value="215">Княгинино</option>
                <option value="216">Ковров</option>
                <option value="217">Ковылкино</option>
                <option value="218">Когалым</option>
                <option value="219">Козельск</option>
                <option value="220">Коктебель</option>
                <option value="221">Коломна</option>
                <option value="222">Комсомольск-на-Амуре</option>
                <option value="223">Конаково</option>
                <option value="224">Королев</option>
                <option value="225">Кострома</option>
                <option value="226">Котлас</option>
                <option value="227">Кошехабль</option>
                <option value="228">Красная Поляна</option>
                <option value="229">Краснодарский край</option>
                <option value="230">Красногорск</option>
                <option value="231">Краснодар</option>
                <option value="232">Красноярск</option>
                <option value="233">Кременчуг</option>
                <option value="234">Крым</option>
                <option value="235">Кузнецк</option>
                <option value="236">Куйбышев</option>
                <option value="237">Кумертау </option>
                <option value="238">Курган</option>
                <option value="239">Курск</option>
                <option value="240">Кызыл</option>
                <option value="241">Лазаревское</option>
                <option value="242">Лесосибирск</option>
                <option value="243">Липецк</option>
                <option value="244">Луга</option>
                <option value="245">Лысьва</option>
                <option value="246">Лыткарино</option>
                <option value="247">Люберцы</option>
                <option value="248">Магадан</option>
                <option value="249">Магас</option>
                <option value="250">Магнитогорск</option>
                <option value="251">Майкоп</option>
                <option value="252">Макеевка</option>
                <option value="253">Малоярославец</option>
                <option value="254">Мариинский Посад</option>
                <option value="255">Махачкала</option>
                <option value="256">Медынь</option>
                <option value="257">Междуреченск</option>
                <option value="258">Мелеуз</option>
                <option value="259">Мелихово</option>
                <option value="260">Миасс</option>
                <option value="261">Мирный</option>
                <option value="262">Михайловское</option>
                <option value="263">Мичуринск</option>
                <option value="264">Можайск</option>
                <option value="265">Моздок</option>
                <option value="266">Москва</option>
                <option value="267">Москва-Черногорск</option>
                <option value="268">Мурманск</option>
                <option value="269">Муром</option>
                <option value="270">Мытищи</option>
                <option value="271">Набережные Челны</option>
                <option value="272">Надым</option>
                <option value="273">Назрань</option>
                <option value="274">Нальчик</option>
                <option value="275">Нарьян-Мар</option>
                <option value="276">Находка</option>
                <option value="277">Невинномысск</option>
                <option value="278">Непряхино</option>
                <option value="279">Нерюнгри</option>
                <option value="280">Нефтекамск</option>
                <option value="281">Нижневартовск</option>
                <option value="282">Нижнекамск</option>
                <option value="283">Нижний Архыз</option>
                <option value="284">Нижний Новгород</option>
                <option value="285">Нижний Тагил</option>
                <option value="286">Новозыбков</option>
                <option value="287">Новокузнецк</option>
                <option value="288">Новомосковск</option>
                <option value="289">Новороссийск</option>
                <option value="290">Новосибирск</option>
                <option value="291">Новоуральск</option>
                <option value="292">Новочеркасск</option>
                <option value="293">Новошахтинск</option>
                <option value="294">Ростовская область</option>
                <option value="295">Новый Уренгой</option>
                <option value="296">Ногинск</option>
                <option value="297">Ноябрьск</option>
                <option value="298">Обнинск</option>
                <option value="299">Оболенск</option>
                <option value="300">Одинцово</option>
                <option value="301">Озерск</option>
                <option value="302">Октябрьский</option>
                <option value="303">Омск</option>
                <option value="304">Омутнинск</option>
                <option value="305">Орел</option>
                <option value="306">Оренбург</option>
                <option value="307">Орск</option>
                <option value="308">Остафьево</option>
                <option value="309">Павлово</option>
                <option value="310">Паратунка</option>
                <option value="311">Камчатский край</option>
                <option value="312">Пенза</option>
                <option value="313">Первоуральск</option>
                <option value="314">Переславль-Залесский</option>
                <option value="315">Пермь</option>
                <option value="316">Петрозаводск</option>
                <option value="317">Петропавловск-Камчатский</option>
                <option value="318">Плёс</option>
                <option value="319">Покров</option>
                <option value="320">Прокопьевск</option>
                <option value="321">Протвино</option>
                <option value="322">Псков</option>
                <option value="323">Пушкин</option>
                <option value="324">Пушкино</option>
                <option value="325">Пушкинские горы</option>
                <option value="326">Пущино</option>
                <option value="327">Пыть-Ях</option>
                <option value="328">Пятигорск</option>
                <option value="329">Репино</option>
                <option value="330">Ростов-на-Дону</option>
                <option value="331">Рубцовск</option>
                <option value="332">Рязань</option>
                <option value="333">Салехард</option>
                <option value="334">Сальск</option>
                <option value="335">Самара</option>
                <option value="336">Санкт-Петербург</option>
                <option value="337">Саранск</option>
                <option value="338">Сарапул</option>
                <option value="339">Саратов</option>
                <option value="340">Саров</option>
                <option value="341">Саяногорск</option>
                <option value="342">Светлогорск</option>
                <option value="343">Светлоград</option>
                <option value="344">Светлый Яр</option>
                <option value="345">Севастополь</option>
                <option value="346">Северодвинск</option>
                <option value="347">Северск</option>
                <option value="348">Семенов</option>
                <option value="349">Сергиев Посад</option>
                <option value="350">Серпухов</option>
                <option value="351">Сибай</option>
                <option value="352">Симферополь</option>
                <option value="353">Славянск-на-Кубани</option>
                <option value="354">Смоленск</option>
                <option value="355">Снежинск</option>
                <option value="356">Соликамск</option>
                <option value="357">Соловки</option>
                <option value="358">Сортавала</option>
                <option value="359">Сочи</option>
                <option value="360">Ставрополь</option>
                <option value="361">Старый Оскол</option>
                <option value="362">Стерлитамак</option>
                <option value="363">Ступино</option>
                <option value="364">Судаково</option>
                <option value="365">Суздаль</option>
                <option value="366">Сургут</option>
                <option value="367">Сызрань</option>
                <option value="368">Сыктывкар</option>
                <option value="369">Таганрог</option>
                <option value="370">Тамбов</option>
                <option value="371">Тара</option>
                <option value="372">Таштагол</option>
                <option value="373">Тверь</option>
                <option value="374">Теберда</option>
                <option value="375">Темрюк</option>
                <option value="376">Тихорецк</option>
                <option value="377">Тобольск</option>
                <option value="378">Тольятти</option>
                <option value="379">Томск</option>
                <option value="380">Тотьма</option>
                <option value="381">Троицк</option>
                <option value="382">Туапсе</option>
                <option value="383">Тула</option>
                <option value="384">Тюмень</option>
                <option value="385">Улан-Удэ</option>
                <option value="386">Ульяновск</option>
                <option value="387">Урюпинск</option>
                <option value="388">Уссурийск</option>
                <option value="389">Уфа</option>
                <option value="390">Ухта</option>
                <option value="391">Феодосия</option>
                <option value="392">Хабаровск</option>
                <option value="393">Хакасия</option>
                <option value="394">Ханты-Мансийск</option>
                <option value="395">Хасавюрт</option>
                <option value="396">Химки</option>
                <option value="397">Хужир</option>
                <option value="398">Чебоксары</option>
                <option value="399">Челябинск</option>
                <option value="400">Чемал</option>
                <option value="401">Череповец</option>
                <option value="402">Черкесск</option>
                <option value="403">Черноголовка</option>
                <option value="404">Черногорск</option>
                <option value="405">Чистополь</option>
                <option value="406">Чита</option>
                <option value="407">Шадринск</option>
                <option value="408">Шахты</option>
                <option value="409">Шуя</option>
                <option value="410">Щёлково</option>
                <option value="411">Элекманар</option>
                <option value="412">Электросталь</option>
                <option value="413">Элиста</option>
                <option value="414">Энгельс</option>
                <option value="415">Энгельс</option>
                <option value="416">Южно-Сахалинск</option>
                <option value="417">Южноуральск</option>
                <option value="418">Юрга</option>
                <option value="419">Якутск</option>
                <option value="420">Ялта</option>
                <option value="421">Ярославль</option>
                <option value="422">Belgrade</option>
                <option value="423">Neoplanta</option>
                <option value="424">Ниш</option>
                <option value="425">Нови Сад</option>
                <option value="426">Андижан</option>
                <option value="427">Бухара</option>
                <option value="428">Джизак</option>
                <option value="429">Коканд</option>
                <option value="430">Наманган</option>
                <option value="431">Самарканд</option>
                <option value="432">Ташкент</option>
                <option value="433">Термез</option>
                <option value="434">Фергана</option>
                <option value="435">Переяслав-Хмельницкий</option>
                <option value="436">Алушта</option>
                <option value="437">Аскания-Нова</option>
                <option value="438">Белая Церковь</option>
                <option value="439">Бердянск</option>
                <option value="440">Берегово</option>
                <option value="441">Борисполь</option>
                <option value="442">Винница</option>
                <option value="443">Глухов</option>
                <option value="444">Голая Пристань</option>
                <option value="445">Горловка</option>
                <option value="446">Гурзуф</option>
                <option value="447">Днепропетровск</option>
                <option value="448">Донецк</option>
                <option value="449">Дрогобыч</option>
                <option value="450">Дубно</option>
                <option value="451">Евпатрия</option>
                <option value="452">Евратория</option>
                <option value="453">Житомир</option>
                <option value="454">Запорожье</option>
                <option value="455">Ивано-Франковск</option>
                <option value="456">Ирпень</option>
                <option value="457">Каменец-Подольский</option>
                <option value="458">Каменовское</option>
                <option value="459">Карпаты</option>
                <option value="460">Керчь</option>
                <option value="461">Киев</option>
                <option value="462">Кировград</option>
                <option value="463">Краматорск</option>
                <option value="464">Кременец</option>
                <option value="465">Кременчуг</option>
                <option value="466">Кривой Рог</option>
                <option value="467">Луганск</option>
                <option value="468">Луцк</option>
                <option value="469">Львов</option>
                <option value="470">Макеевка</option>
                <option value="471">Мелитополь</option>
                <option value="472">Нежин</option>
                <option value="473">Николаев</option>
                <option value="474">Никополь</option>
                <option value="475">Новый Свет</option>
                <option value="476">Одесса</option>
                <option value="477">Партенит</option>
                <option value="478">Переяслав-Хмельницкий</option>
                <option value="479">Полтава</option>
                <option value="480">Ровно</option>
                <option value="481">Рубежное</option>
                <option value="482">Саки</option>
                <option value="483">Сакъ-Кезлев</option>
                <option value="484">Севастополь</option>
                <option value="485">Северодонецк</option>
                <option value="486">Симферополь</option>
                <option value="487">Славянск</option>
                <option value="488">Старобельск</option>
                <option value="489">Стаханов</option>
                <option value="490">Судак</option>
                <option value="491">Сумы</option>
                <option value="492">Тернополь</option>
                <option value="493">Тирастополь</option>
                <option value="494">Трускавец</option>
                <option value="495">Ужгород</option>
                <option value="496">Умань</option>
                <option value="497">Феодосия</option>
                <option value="498">Харьков</option>
                <option value="499">Херсон</option>
                <option value="500">Хмельницкий</option>
                <option value="501">Черкассы</option>
                <option value="502">Чернигов</option>
                <option value="503">Черноговцы</option>
                <option value="504">Ялта</option>

            </select>
            <br>
            <!--Выбор темы конференции-->
            <label for="select_theme">Выберите тематику вашей конференции</label>
            <select class="search_txt" name="select_theme">
                <option value="">Выберите тематику</option>
                <option value="30">Археология</option>
                <option value="60">Архитектура, Строительство</option>
                <option value="47">Астрономия</option>
                <option value="78">Безопасность</option>
                <option value="27">Библиотековедение</option>
                <option value="44">Биология</option>
                <option value="38">Биотехнологии</option>
                <option value="24">Ветеринария</option>
                <option value="25">География</option>
                <option value="45">Геология</option>
                <option value="561">Государственное управление</option>
                <option value="20">Гуманитарные науки</option>
                <option value="137">Естественные науки</option>
                <option value="75">Журналистика</option>
                <option value="34">Зоология</option>
                <option value="84">Иностранные языки</option>
                <option value="22">Информационные технологии</option>
                <option value="29">Искусствоведение, Дизайн</option>
                <option value="39">История</option>
                <option value="26">Космос, Авиация</option>
                <option value="274">Краеведение, Геоурбанистика</option>
                <option value="14">Культурология</option>
                <option value="2">Лазерные технологии</option>
                <option value="326">Маркетинг</option>
                <option value="40">Математика</option>
                <option value="6">Материаловедение</option>
                <option value="17">Машиностроение</option>
                <option value="16">Медицина</option>
                <option value="552">Менеджмент</option>
                <option value="95">Металлургия</option>
                <option value="66">Моделирование</option>
                <option value="7">Молодые ученые</option>
                <option value="558">Музееведение</option>
                <option value="80">Музыковедение</option>
                <option value="61">Нанотехнологии</option>
                <option value="41">Науки о Земле</option>
                <option value="1">Образование, Аттестация</option>
                <option value="90">Общественные науки</option>
                <option value="21">Педагогика</option>
                <option value="48">Пищевая промышленность</option>
                <option value="33">Политология</option>
                <option value="36">Проблемы науки, Инновации</option>
                <option value="23">Психология</option>
                <option value="35">Радиотехника, Электроника</option>
                <option value="55">Разное</option>
                <option value="77">Религиоведение, История</option>
                <option value="42">Ресурсосбережение</option>
                <option value="13">Сельское хозяйство</option>
                <option value="81">Социология</option>
                <option value="54">Спорт, Туризм, Отдых</option>
                <option value="59">Телекоммуникации</option>
                <option value="138">Технические науки</option>
                <option value="15">Технологии</option>
                <option value="52">Транспортные коммуникации</option>
                <option value="193">Фармакология, Фармация</option>
                <option value="10">Физика</option>
                <option value="64">Физическая культура</option>
                <option value="12">Филология</option>
                <option value="43">Философия</option>
                <option value="11">Химия</option>
                <option value="183">Широкая тематика</option>
                <option value="4">Экология, Природопользование</option>
                <option value="8">Экономика, Управление, Финансы</option>
                <option value="63">Электротехника</option>
                <option value="62">Энергетика</option>
                <option value="79">Этнология, Антропология, Демография</option>
                <option value="49">Юридические науки</option>
            </select>
            <br>
        <!--Ввод ключевых слов-->
            <label for="keywords">Ключевые слова</label>
            <input type="text" class="search_txt" placeholder="Найти" value="" name="keywords">
        <!--Ввод диапазона цен(бюджет)-->
            <br>
            <label for="price_low">Введите ваш бюджет</label>
            <input class="search_txt" type="number" placeholder="От" value="" name="price_low">
            <label for="price_up"></label>
            <input class="search_txt" type="number" placeholder="До" value="" name="price_up">
        <!--Ввод диапазона дат-->
            <br>
            <label>Выберите диапазон удобных дат</label>
            <br>
            <label for="date_start">От</label>
            <input class="search_txt" type="date" name="date_start">
            <label for="date_finish">До</label>
            <input class="search_txt" type="date" name="date_finish" value="" placeholder="">
            <br>
            <button type=submit class="button_search">Поиск</button>
        </form>
    </div>


</body>
</html>