{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>Подбор конференции</title>
</head>
<body>
    <div class="main">
        <h1>Подбор конференции</h1>
    </div>
<!--Поля ввода-->
    <div class="input_fields">
        <form method="post" name="form_1" action="search/">
            {% csrf_token %}
        <!--Выбор страны проживания-->
            <label for="select_country">Выберите страну вашего проживания</label>
            <select name="country" class="search_txt" id="select_country">
                <option value="">Выберите страну</option>
                <option value="262">Австралия</option>
                <option value="15">Австрия</option>
                <option value="11">Азербайджан</option>
                <option value="5">Армения</option>
                <option value="1">Беларусь</option>
                <option value="370">Белиз</option>
                <option value="356">Бельгия</option>
                <option value="10">Болгария</option>
                <option value="382">Босния и Герцеговина</option>
                <option value="172">Бразилия</option>
                <option value="41">Великобритания</option>
                <option value="192">Венгрия</option>
                <option value="367">Венесуэла</option>
                <option value="82">Вьетнам</option>
                <option value="361">Гватемала </option>
                <option value="7">Германия</option>
                <option value="42">Греция</option>
                <option value="12">Грузия</option>
                <option value="182">Дания</option>
                <option value="381">Донецкая Народная Республика</option>
                <option value="48">Египет</option>
                <option value="340">Израиль</option>
                <option value="312">Индия</option>
                <option value="379">Индонезия</option>
                <option value="152">Иран</option>
                <option value="332">Ирландия</option>
                <option value="112">Испания</option>
                <option value="47">Италия</option>
                <option value="4">Казахстан</option>
                <option value="49">Канада</option>
                <option value="31">Кипр</option>
                <option value="364">Китай </option>
                <option value="365">Корея</option>
                <option value="375">Куба</option>
                <option value="353">Кувейт</option>
                <option value="50">Кыргызстан</option>
                <option value="9">Латвия</option>
                <option value="8">Литва</option>
                <option value="350">Люксембург</option>
                <option value="362">Македония</option>
                <option value="213">Малайзия</option>
                <option value="371">Мексика</option>
                <option value="51">Молдова</option>
                <option value="377">Монако</option>
                <option value="37">Монголия</option>
                <option value="272">Нидерланды</option>
                <option value="53">Норвегия</option>
                <option value="282">ОАЭ</option>
                <option value="6">Польша</option>
                <option value="352">Португалия</option>
                <option value="243">Пуэрто-Рико</option>
                <option value="52">Республика Абхазия</option>
                <option value="2">Россия</option>
                <option value="384">Россия, Беларусь</option>
                <option value="385">Россия, Беларусь</option>
                <option value="34">Румыния</option>
                <option value="359">Сербия</option>
                <option value="202">Сингапур</option>
                <option value="102">Словакия</option>
                <option value="383">Словения</option>
                <option value="142">США</option>
                <option value="351">Таджикистан</option>
                <option value="369">Таиланд</option>
                <option value="223">Тунис</option>
                <option value="73">Туркменистан</option>
                <option value="212">Турция</option>
                <option value="322">Уганда</option>
                <option value="20">Узбекистан</option>
                <option value="3">Украина</option>
                <option value="46">Финляндия</option>
                <option value="44">Франция</option>
                <option value="354">Хорватия</option>
                <option value="357">Черногория</option>
                <option value="16">Чехия</option>
                <option value="366">Швейцария</option>
                <option value="63">Швеция</option>
                <option value="23">Эстония</option>
                <option value="372">ЮАР</option>
                <option value="252">Ямайка</option>
                <option value="33">Япония</option>
                </select>
            <br>
        <!--Выбор города проживания-->
            <label for="select_city">Выберите город вашего проживания</label>
            <select name="city" class="search_txt" id="select_city">
                <option value="">Выберите город</option>
            </select>
            <br>
            <!--Выбор темы конференции-->
            <label for="select_theme">Выберите тематику вашей конференции</label>
            <select name="select_theme" class="search_txt" id="select_theme">
                <option value="">Выберите тематику</option>
                <option value="30">Археология</option>
                <option value="60">Архитектура, Строительство</option>
                <option value="47">Астрономия</option>
                <option value="78">Безопасность</option>
                <option value="27">Библиотековедение</option>
                <option value="44">Биология</option>
                <option value="38">Биотехнологии</option>
                <option value="24">Ветеринария</option>
                <option value="25">География</option>
                <option value="45">Геология</option>
                <option value="561">Государственное управление</option>
                <option value="20">Гуманитарные науки</option>
                <option value="137">Естественные науки</option>
                <option value="75">Журналистика</option>
                <option value="34">Зоология</option>
                <option value="84">Иностранные языки</option>
                <option value="22">Информационные технологии</option>
                <option value="29">Искусствоведение, Дизайн</option>
                <option value="39">История</option>
                <option value="26">Космос, Авиация</option>
                <option value="274">Краеведение, Геоурбанистика</option>
                <option value="14">Культурология</option>
                <option value="2">Лазерные технологии</option>
                <option value="326">Маркетинг</option>
                <option value="40">Математика</option>
                <option value="6">Материаловедение</option>
                <option value="17">Машиностроение</option>
                <option value="16">Медицина</option>
                <option value="552">Менеджмент</option>
                <option value="95">Металлургия</option>
                <option value="66">Моделирование</option>
                <option value="7">Молодые ученые</option>
                <option value="558">Музееведение</option>
                <option value="80">Музыковедение</option>
                <option value="61">Нанотехнологии</option>
                <option value="41">Науки о Земле</option>
                <option value="1">Образование, Аттестация</option>
                <option value="90">Общественные науки</option>
                <option value="21">Педагогика</option>
                <option value="48">Пищевая промышленность</option>
                <option value="33">Политология</option>
                <option value="36">Проблемы науки, Инновации</option>
                <option value="23">Психология</option>
                <option value="35">Радиотехника, Электроника</option>
                <option value="55">Разное</option>
                <option value="77">Религиоведение, История</option>
                <option value="42">Ресурсосбережение</option>
                <option value="13">Сельское хозяйство</option>
                <option value="81">Социология</option>
                <option value="54">Спорт, Туризм, Отдых</option>
                <option value="59">Телекоммуникации</option>
                <option value="138">Технические науки</option>
                <option value="15">Технологии</option>
                <option value="52">Транспортные коммуникации</option>
                <option value="193">Фармакология, Фармация</option>
                <option value="10">Физика</option>
                <option value="64">Физическая культура</option>
                <option value="12">Филология</option>
                <option value="43">Философия</option>
                <option value="11">Химия</option>
                <option value="183">Широкая тематика</option>
                <option value="4">Экология, Природопользование</option>
                <option value="8">Экономика, Управление, Финансы</option>
                <option value="63">Электротехника</option>
                <option value="62">Энергетика</option>
                <option value="79">Этнология, Антропология, Демография</option>
                <option value="49">Юридические науки</option>
            </select>
            <br>
        <!--Ввод ключевых слов-->
            <label for="keywords">Ключевые слова</label>
            <input name="keywords" type="text" class="search_txt" placeholder="Найти" value="" id="keywords">
        <!--Ввод диапазона цен(бюджет)-->
            <br>
            <label for="price_low">Введите ваш бюджет</label>
            <input name="price_low" class="search_txt" type="number" placeholder="От" value="" id="price_low">
            <label for="price_up"></label>
            <input name="price_up" class="search_txt" type="number" placeholder="До" value="" id="price_up">
        <!--Ввод диапазона дат-->
            <br>
            <label>Выберите диапазон удобных дат</label>
            <br>
            <label for="date_start">От</label>
            <input class="search_txt" type="date" id="date_start">
            <label for="date_finish">До</label>
            <input class="search_txt" type="date" id="date_finish" value="" placeholder="">
            <br>
            <button type="submit" class="button_search">Поиск</button>
        </form>
    </div>

{#<script>#}
{#function ClickFunction() {#}
{##}
{#    let cntry = document.getElementById("select_country").value;#}
{#    let city = document.getElementById("select_city").value;#}
{#    let theme = document.getElementById("select_theme").value;#}
{#    let keywords = document.getElementById("keywords").value;#}
{#    let priceless = document.getElementById("price_low").value;#}
{#    let pricemore = document.getElementById("price_up"). value;#}
{#    let s_date = document.getElementById("date_start").value;#}
{#    let f_date = document.getElementById("date_finish").value;#}
{#    alert(cntry+" "+ city + " " + theme + " " + keywords + " " + priceless+ " "+pricemore + " " + s_date + " "+ f_date);#}
{#    return cntry,city,theme,keywords,priceless, pricemore, s_date, f_date;#}
{#}#}
{#</script>#}

</body>
</html>